@tailwind base;
@tailwind components;
@tailwind utilities;

.bee {
  /* bee should be small in terms of animation */
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: -40px;
  right: 70px;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@keyframes example {
  /* rotate 360 around like a in a circle transform(rotate(0) translateX(100px) rotate(0))*/
  0% {
    right: 70px;
    transform: rotate(0) translateX(45px) rotate(0);
    /* flip left */

  }
  50%
  {
    /* make the bee smaller */
    width: 15px;
    height: 15px;
    right: 30px;
    margin-right: -25px;
    z-index: -1;
  }
  100% {
    right: 70px;
    transform: rotate(360deg) translateX(45px) rotate(-360deg);
  }
}